<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left; padding: 18px; background: cadetblue;" >
  <a [routerLink]="'/home'">Home</a> | 
  <a [routerLink]="'/auth-user'">Auth User</a> |
  <a [routerLink]="'/resource-user'">Resource User</a> |
  <a [routerLink]="'/user/auth-admin'">Auth Admin</a> |
  <a [routerLink]="'/user/resource-admin'">Resource Admin</a> |
  <a [routerLink]="'/login'">Login</a> |
  <a [routerLink]="'#'">logout</a> 
</div>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<hr>

<router-outlet></router-outlet>
